In [43]:
import pandas as pd
mother =pd.read_csv('csv/mother_reviews_clean.csv', index_col=0)
mother.reset_index(drop=True, inplace=True)
mother.head()

,user_id,business_id,stars,useful,funny,cool,text,date,clean_text
0,I3f0Ww0Fh5-ixwxMQ5L1Cg,iSRTaT9WngzB8JJ2YKJUig,5.0,0,0,0,A visit to New Orleans is not complete without...,2015-11-06 01:44:28,visit new orleans complete without stop mother...
1,wgtJ6oS_VIZT_yVz3N5w3Q,iSRTaT9WngzB8JJ2YKJUig,4.0,0,0,0,The Ferdi was only amazing because of the debr...,2012-12-04 22:34:30,ferdi amazing debris amazing ham roast beef ok...
2,9BzlclzAH_XdTOijPQZaOw,iSRTaT9WngzB8JJ2YKJUig,5.0,0,0,0,This is a regular stop for me when I am in new...,2016-06-12 00:55:19,regular stop new orleans way stop get ferdi sp...
3,9jWSprR9OJL4WW1P5iGToQ,iSRTaT9WngzB8JJ2YKJUig,1.0,1,0,0,This place gave my fiancé food poisoning today...,2016-01-04 02:48:37,place gave fiancé food poisoning today food re...
4,_KNqLK8xC4xBOCz3Q7MOag,iSRTaT9WngzB8JJ2YKJUig,5.0,0,0,0,I tried the spaghetti and meatballs. It was a ...,2018-06-08 22:29:13,tried spaghetti meatballs great dish huge meal...

In [44]:
mother=mother[mother['stars'] == 1.0]

In [39]:
mother

,user_id,business_id,stars,useful,funny,cool,text,date,clean_text
3,9jWSprR9OJL4WW1P5iGToQ,iSRTaT9WngzB8JJ2YKJUig,1.0,1,0,0,This place gave my fiancé food poisoning today...,2016-01-04 02:48:37,place gave fiancé food poisoning today food re...
9,Fq5CvUC1AzK8GSmpyn0UeQ,iSRTaT9WngzB8JJ2YKJUig,1.0,0,0,0,Tourist trap. Go to Cafe Amelie instead - it'...,2015-05-12 18:41:09,tourist trap go cafe amelie instead blocks ...
35,l1w-oZxPOVRooai5nwz3Bg,iSRTaT9WngzB8JJ2YKJUig,1.0,0,0,0,I was very excited to try this place due to al...,2016-08-04 00:14:41,excited try place due reviews ordered world fa...
39,iXpuRUOYbE4gaogki4qm3Q,iSRTaT9WngzB8JJ2YKJUig,1.0,0,0,0,So sorry that seven of us went here. The food...,2016-08-12 21:47:54,sorry seven us went food ridiculously bad \nw...
43,FziBgPaiqRJM71FExiJQ3Q,iSRTaT9WngzB8JJ2YKJUig,1.0,3,0,0,Mother's is not Juicy\n\nNothing about this pl...,2011-11-30 06:59:41,mothers juicy\n\nnothing place juicy sure fuss...
...,...,...,...,...,...,...,...,...,...
5224,lrLbvgKaA_fmZnPQQMp9zg,iSRTaT9WngzB8JJ2YKJUig,1.0,1,0,0,This place came highly recommended and I can't...,2021-12-10 23:57:13,place came highly recommended cant figure remi...
5228,0vaaMugPM1uOGDri1T3lJQ,iSRTaT9WngzB8JJ2YKJUig,1.0,2,0,0,"The food is good, BUT, the service was the wor...",2021-07-31 18:17:45,food good service worst ive life expected hou...
5230,YXKSQvFAuoMTwEZXQD97Ow,iSRTaT9WngzB8JJ2YKJUig,1.0,1,0,0,The staff was rude and could not comprehend a ...,2018-01-10 13:57:52,staff rude could comprehend simple order trans...
5240,n2SX-tKhr5AkjmG30-osLQ,iSRTaT9WngzB8JJ2YKJUig,1.0,3,0,0,"(re rated @ ONE after zero contact, I tried, i...",2019-04-18 17:37:27,rated one zero contact tried appears havent\n...
5251,IoZfBwHCO244npWM6EVhZA,iSRTaT9WngzB8JJ2YKJUig,1.0,2,0,0,Total tourist trap. Avoid. Prices are high; fo...,2018-03-12 15:32:26,total tourist trap avoid prices high food accu...

In [40]:
from sklearn.feature_extraction.text import TfidfVectorizer

vectorizer = TfidfVectorizer(ngram_range=(1,3), min_df = 0.005)

vectorized_text = vectorizer.fit_transform(mother['clean_text'])
vectorized_text = pd.DataFrame(
    vectorized_text.toarray(),
    columns = vectorizer.get_feature_names_out()
)

vectorized_text

,able,absolutely,absolutely disgusting,absolutely horrible,accept,accept tips,ache,across,across street,acted,...,yes,yesterday,yet,you,young,young lady,yuck,zero,zero stars,étouffée
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.175917
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
654,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000
655,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000
656,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.129597,0.0,0.000000
657,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.068868,0.0,0.000000
658,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000

In [41]:
from sklearn.decomposition import LatentDirichletAllocation

# Instantiate the LDA
n_components = 50
lda_model = LatentDirichletAllocation(n_components=n_components,
                                      max_iter = 500,
                                      random_state=1,
                                      n_jobs = -1,
                                      topic_word_prior=0.5)

# Fit the LDA on the vectorized documents
lda_model.fit(vectorized_text)

LatentDirichletAllocation(max_iter=500, n_components=50, n_jobs=-1,
                          random_state=1, topic_word_prior=0.5)

In [42]:
document_mixture = lda_model.transform(vectorized_text)
document_mixture.shape

(659, 50)

In [24]:
topic_word_mixture = pd.DataFrame(
    lda_model.components_,
    columns = vectorizer.get_feature_names_out()
)

In [25]:
def get_topics(model, vectorizer):
    topics = []
    for idx, topic in enumerate(model.components_):
        topics.append([(vectorizer.get_feature_names_out()[i], topic[i])
                        for i in topic.argsort()[:-10 - 1:-1]])
    return topics

topics = get_topics(lda_model, vectorizer)
topic_words = [[word[0] for word in topic] for topic in topics]

In [26]:
topic_words[0]

['étouffée',
 'god',
 'going',
 'going back',
 'gone',
 'good',
 'good bread',
 'good experience',
 'good food',
 'good fried']

In [27]:
mother_complaints =pd.read_csv('csv/mother_complaints.csv', index_col=0)
top_300 = mother_complaints.iloc[:300].reset_index().rename(columns={'index':'phrase'})

In [28]:
top_300

            phrase     score
0      place dirty  1.236985
1     rude service  1.165142
2           filthy  1.114094
3       disgusting  0.901551
4            worse  0.869195
..             ...       ...
295          large  0.188984
296  seafood gumbo  0.188438
297        seafood  0.188052
298         wanted  0.187908
299           tell  0.186907

[300 rows x 2 columns]

In [29]:
word_allocations = topic_word_mixture.T

In [30]:
word_allocations.head()

,0,1,2,3,4,5,6,7,8,9,...,40,41,42,43,44,45,46,47,48,49
able,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5,...,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5
absolutely,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5,...,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5
absolutely disgusting,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5,...,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5
absolutely horrible,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5,...,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5
accept,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5,...,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5

In [36]:
import pandas as pd

# Assuming 'word_allocations' is your original DataFrame with word distributions across topics
# You can replace the data and index in word_allocations with your actual data

# Find the column (topic) with the highest score for each word
max_topic = word_allocations.idxmax(axis=1)

# Extract the highest score for each word
max_score = word_allocations.max(axis=1)

# Create a new DataFrame with the word as the index, and two columns: one for the topic with the highest score and one for the score itself
new_df = pd.DataFrame({
    'Topic': max_topic,
    'Score': max_score
})

# If you want to see the DataFrame
print(new_df)

# If you need to use this DataFrame for further analysis or save it, you can do so directly.
# For example, to save this DataFrame to a CSV file:
# new_df.to_csv('path_to_save/word_topic_distribution.csv')

                       Topic     Score
able                      15  1.923979
absolutely                15  4.469360
absolutely disgusting     15  1.226454
absolutely horrible       15  1.368925
accept                    15  1.002737
...                      ...       ...
young lady                15  1.610270
yuck                      15  1.966779
zero                      15  2.994577
zero stars                15  1.369597
étouffée                  15  1.871616

[1976 rows x 2 columns]

In [35]:
import pandas as pd

# Assuming 'word_allocations' is your DataFrame with the word distributions
# And 'top_100' is another DataFrame with your words stored in the column "phrase"

# Filter the original DataFrame to keep only the rows for words in top_100
filtered_df = word_allocations.loc[word_allocations.index.isin(top_300['phrase'])]

# Find the column (topic) with the highest score for each word in the filtered DataFrame
max_topic = filtered_df.idxmax(axis=1)

# Extract the highest score for each word in the filtered DataFrame
max_score = filtered_df.max(axis=1)

# Create a new DataFrame from the filtered words with the topic and score
new_df = pd.DataFrame({
    'Topic': max_topic,
    'topic_likelihood': max_score
})

# If you want to see the DataFrame
new_df

# Optional: Saving the new DataFrame to a CSV file
# new_df.to_csv('path_to_save/top_100_word_topic_distribution.csv')

KeyError: 'phrase'

In [34]:
top_300.set_index('phrase', inplace=True)
# Remove the name of the index
top_300.index.name = None

# Now, top_100's index (which contains what were previously the values of "phrase") will have no name.

top_300

KeyError: "None of ['phrase'] are in the columns"

In [49]:
new_df

            Topic  topic_likelihood
absolutely     12          0.745416
actually       12          0.667489
almost         24          0.726673
already        27          0.755187
anyone         46          0.706237
...           ...               ...
worse          28          0.726248
worst          42          0.742516
wrong          36          0.698589
years          12          0.699267
zero           16          0.613953

[300 rows x 2 columns]

In [50]:
likelihoods = top_300.join(new_df)

likelihoods

                  score  Topic  topic_likelihood
place dirty    1.236985     26          0.699292
rude service   1.165142     46          0.788919
filthy         1.114094     20          0.659571
disgusting     0.901551     21          0.734964
worse          0.869195     28          0.726248
...                 ...    ...               ...
large          0.188984     16          0.784966
seafood gumbo  0.188438      7          0.708587
seafood        0.188052      7          0.917308
wanted         0.187908     37          0.701302
tell           0.186907     39          0.665940

[300 rows x 3 columns]

In [51]:
likelihoods['scored_likelihood'] = likelihoods['topic_likelihood'] * likelihoods['score']
likelihoods

                  score  Topic  topic_likelihood  scored_likelihood
place dirty    1.236985     26          0.699292           0.865014
rude service   1.165142     46          0.788919           0.919203
filthy         1.114094     20          0.659571           0.734824
disgusting     0.901551     21          0.734964           0.662607
worse          0.869195     28          0.726248           0.631251
...                 ...    ...               ...                ...
large          0.188984     16          0.784966           0.148346
seafood gumbo  0.188438      7          0.708587           0.133525
seafood        0.188052      7          0.917308           0.172501
wanted         0.187908     37          0.701302           0.131780
tell           0.186907     39          0.665940           0.124469

[300 rows x 4 columns]

In [52]:
total_topic_score = likelihoods.groupby('Topic')['scored_likelihood'].sum()
total_topic_score = total_topic_score.sort_values(ascending=False)
total_topic_score

Topic
7     15.401252
44     5.730996
46     4.528745
12     4.038086
20     4.001146
32     3.946761
36     3.196664
16     2.302503
24     2.267615
42     2.056387
14     1.870754
21     1.800752
28     1.761497
39     1.643050
9      1.516971
27     1.485047
0      1.378300
1      1.346380
33     1.130997
37     1.100387
26     1.074924
40     0.978070
10     0.976083
4      0.967754
23     0.931177
3      0.886130
19     0.864802
47     0.839187
30     0.833197
15     0.803317
49     0.554338
34     0.524707
18     0.518248
17     0.429814
45     0.410547
41     0.385938
2      0.235436
48     0.187189
29     0.152810
Name: scored_likelihood, dtype: float64

In [53]:
top_topics = total_topic_score.index
top_topics

Index([ 7, 44, 46, 12, 20, 32, 36, 16, 24, 42, 14, 21, 28, 39,  9, 27,  0,  1,
       33, 37, 26, 40, 10,  4, 23,  3, 19, 47, 30, 15, 49, 34, 18, 17, 45, 41,
        2, 48, 29],
      dtype='int64', name='Topic')

In [67]:
topic_words = []
for i in range(10):
    new_list= list(likelihoods[likelihoods['Topic'] == top_topics[i]].sort_values(by='scored_likelihood', ascending=False).index)
    topic_words.append(new_list)

print(topic_words)

[['food cold', 'waste', 'food bland', 'mother', 'mediocre', 'money', 'excited', 'bland', 'live', 'mess', 'workers', 'customers', 'literally', 'standing', 'employees', 'butter', 'hype', 'cashier', 'sitting', 'saying', 'extremely', 'serving', 'customer', 'understand', 'away', 'gave', 'left', 'sausage', 'cabbage', 'receipt', 'finally', 'water', 'reviews', 'rice', 'disappointed', 'else', 'later', 'told', 'drinks', 'everyone', 'anything', 'whole', 'seafood', 'wall', 'since', 'someone', 'something', 'comes', 'po', 'small', 'poboy', 'eating', 'thing', 'either', 'trying', 'tip', 'beans', 'far', 'waiting', 'served', 'many', 'visiting', 'arrived', 'seafood gumbo', 'shrimp poboy'], ['terrible', 'cost', 'dirty', 'used', 'plenty', 'completely', 'establishment', 'tasted', 'extra', 'clean', 'seated', 'tasted like', 'platter', 'asked', 'mothers', 'boys', 'rest', 'old', 'top', 'front', 'walked', 'reason', 'oh', 'tables'], ['rude service', 'save', 'disappointment', 'avoid', 'tourists', 'cold', 'anyone', 'sat', 'kitchen', 'restaurants', 'fries', 'hungry', 'ask', 'husband', 'greens'], ['rave', 'overrated', 'overpriced', 'please', 'register', 'slow', 'absolutely', 'flavor', 'given', 'walk', 'sit', 'man', 'door', 'shrimp po', 'ordering', 'years', 'quite', 'actually'], ['filthy', 'horrible', 'believe', 'seasoned', 'white', 'guy', 'black', 'manager', 'star', 'plate', 'decided', 'city', 'southern', 'real'], ['stay away', 'gotten', 'skip', 'tourist', 'taking', 'behind', 'expected', 'counter', 'says', 'stay', 'business', 'red', 'average', 'getting', 'felt', 'cooked'], ['famous ham', 'look', 'ham', 'wrong', 'point', 'famous', 'least', 'line door', 'ate', 'wife', 'dishes', 'heard', 'ferdi', 'decent', 'pm', 'fish', 'three'], ['waste money', 'zero', 'never go', 'french', 'needed', 'taste', 'large', 'need', 'maybe'], ['stale', 'needs', 'popular', 'party', 'disappointing', 'almost', 'waiter', 'tried', 'thats'], ['awful', 'worst', 'elsewhere', 'soggy', 'lady', 'coffee', 'work']]