# sophia_lda_model_v2 (use more restaurants)

In [22]:
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.decomposition import LatentDirichletAllocation
from sklearn.model_selection import GridSearchCV

from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords

import string

In [23]:
reviews = pd.read_csv('../sandun_notebooks/csv/filtered_reviews.csv')
reviews.head()

,review_id,user_id,business_id,stars,useful,funny,cool,text,date
0,l3Wk_mvAog6XANIuGQ9C7Q,ZbqSHbgCjzVAqaa7NKWn5A,EQ-TZ2eeD_E0BHuvoaeG5Q,4.0,0,0,0,"Locals recommended Milktooth, and it's an amaz...",2015-08-19 14:31:45
1,vBK79c3_1Ff_oqkh5VpfGg,Ohhrhu1RkqfVciIVx_W5HQ,nRKndeZLQ3eDL10UMwS2rQ,5.0,2,5,2,HOLY SMOKES!\n\nactual pumpkin pie mixed in wi...,2009-10-13 19:49:51
2,z0osLHDvXvzfm57D4DmD2Q,xVKE_HJ2pwUtTdLbL3pnCg,S2Ho8yLxhKAa26pBAm6rxA,3.0,0,0,0,"Service was crappy, and food was mediocre. I ...",2016-11-22 00:22:53
3,elqRpX9T3YwL07uLNtN3Bg,-sryo4gDYxbZ1T5Bz4l5Bw,ltBBYdNzkeKdCNPDAsxwAA,2.0,0,0,0,I at least have to give this restaurant two st...,2015-02-02 04:29:13
4,pHwbdway4yeI-dSSmZA7-Q,qEEk0PuoH1dVa619t8fgpw,PY9GRfzr4nTZeINf346QOw,4.0,0,0,0,We checked in around 2:30 pm. Check-in was qu...,2017-09-20 16:16:47

In [24]:
len(reviews['business_id'].unique())

315

In [25]:
business = pd.read_csv('../sandun_notebooks/csv/yelp_business.csv')
all_restaurants = business[business['categories'].str.contains('restaurant', case=False, na=False)]
all_restaurants.shape

(52286, 14)

In [26]:
# Merge all_restaurants with restaurant reviews on business_id
all_res_merged = pd.merge(reviews,
                         all_restaurants, on='business_id')
all_res_merged.shape

(538450, 22)

In [27]:
all_res_merged['state'].unique() # restaurants are from these 10 states

array(['IN', 'LA', 'TN', 'PA', 'CA', 'MO', 'NV', 'AZ', 'FL', 'ID'],
      dtype=object)

In [28]:
all_res_merged.head()

,review_id,user_id,business_id,stars_x,useful,funny,cool,text,date,name,...,state,postal_code,latitude,longitude,stars_y,review_count,is_open,attributes,categories,hours
0,l3Wk_mvAog6XANIuGQ9C7Q,ZbqSHbgCjzVAqaa7NKWn5A,EQ-TZ2eeD_E0BHuvoaeG5Q,4.0,0,0,0,"Locals recommended Milktooth, and it's an amaz...",2015-08-19 14:31:45,Milktooth,...,IN,46203,39.759169,-86.146494,4.0,1379,1,"{'GoodForKids': 'True', 'Alcohol': ""u'full_bar...","Beer, Wine & Spirits, Cafes, Coffee & Tea, Res...","{'Monday': '10:0-15:0', 'Friday': '10:0-15:0',..."
1,z0osLHDvXvzfm57D4DmD2Q,xVKE_HJ2pwUtTdLbL3pnCg,S2Ho8yLxhKAa26pBAm6rxA,3.0,0,0,0,"Service was crappy, and food was mediocre. I ...",2016-11-22 00:22:53,Creole House Restaurant & Oyster Bar,...,LA,70130,29.952213,-90.067116,4.0,1594,1,"{'WiFi': ""'free'"", 'RestaurantsAttire': ""u'cas...","Cajun/Creole, Seafood, Restaurants, Breakfast ...","{'Monday': '7:0-23:0', 'Tuesday': '7:0-23:0', ..."
2,elqRpX9T3YwL07uLNtN3Bg,-sryo4gDYxbZ1T5Bz4l5Bw,ltBBYdNzkeKdCNPDAsxwAA,2.0,0,0,0,I at least have to give this restaurant two st...,2015-02-02 04:29:13,Tavern,...,TN,37203,36.150900,-86.797012,4.0,1222,1,"{'BikeParking': 'True', 'Alcohol': ""u'full_bar...","Cocktail Bars, Nightlife, Gastropubs, Sports B...","{'Monday': '0:0-0:0', 'Wednesday': '10:0-22:0'..."
3,E9AB7V4z8xrt2uPF7T55FQ,iYY5Ii1LGpZCpXFkHlMefw,Zx7n8mdt8OzLRXVzolXNhQ,5.0,0,0,0,Amazing biscuits and (fill in the blank). Grea...,2018-04-27 23:03:21,Milk and Honey Nashville,...,TN,37203,36.154702,-86.784541,4.0,1725,1,"{'WheelchairAccessible': 'True', 'RestaurantsP...","American (New), Restaurants, American (Traditi...","{'Monday': '0:0-0:0', 'Thursday': '6:30-15:0',..."
4,jC-fGfx-YLqxVBcyTAd4Pw,EBa-0-6AKoy6jziNexDJtg,W4ZEKkva9HpAdZG88juwyQ,3.0,0,0,0,"In a word... ""OVERRATED!"". The food took fore...",2013-12-29 02:37:42,Mr. B's Bistro,...,LA,70130,29.954387,-90.068363,4.0,2064,1,"{'NoiseLevel': ""u'average'"", 'RestaurantsReser...","Bars, Breakfast & Brunch, Restaurants, Barbequ...","{'Wednesday': '11:30-20:0', 'Thursday': '11:30..."

### Review stopword list

In [29]:
# Load the English stopwords
stop_words = list(stopwords.words('english'))

# Words you want to keep and not treat as stopwords
words_to_keep = ["doesn't", "again", "aren't", "couldn't", "isn't", "more", "most", "no", "not", "of", "only", "too", "very", "don't", "off", "mustn't", "won't", "wouldn't", "didn't", "shouldn't", "wasn't", "weren't"]

# Remove the words you want to keep from the stopwords list
modified_stop_words = [word for word in stop_words if word not in words_to_keep]

def remove_punctuation(text):
    return "".join(char for char in text if not char in string.punctuation)

preprocessed_stopwords= [remove_punctuation(word) for word in modified_stop_words]

print(preprocessed_stopwords)

['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', 'youre', 'youve', 'youll', 'youd', 'your', 'yours', 'yourself', 'yourselves', 'he', 'him', 'his', 'himself', 'she', 'shes', 'her', 'hers', 'herself', 'it', 'its', 'its', 'itself', 'they', 'them', 'their', 'theirs', 'themselves', 'what', 'which', 'who', 'whom', 'this', 'that', 'thatll', 'these', 'those', 'am', 'is', 'are', 'was', 'were', 'be', 'been', 'being', 'have', 'has', 'had', 'having', 'do', 'does', 'did', 'doing', 'a', 'an', 'the', 'and', 'but', 'if', 'or', 'because', 'as', 'until', 'while', 'at', 'by', 'for', 'with', 'about', 'against', 'between', 'into', 'through', 'during', 'before', 'after', 'above', 'below', 'to', 'from', 'up', 'down', 'in', 'out', 'on', 'over', 'under', 'further', 'then', 'once', 'here', 'there', 'when', 'where', 'why', 'how', 'all', 'any', 'both', 'each', 'few', 'other', 'some', 'such', 'nor', 'own', 'same', 'so', 'than', 's', 't', 'can', 'will', 'just', 'don', 'should', 'shouldve', 'now', 'd', 'll', 'm', 'o', 're', 've', 'y', 'ain', 'aren', 'couldn', 'didn', 'doesn', 'hadn', 'hadnt', 'hasn', 'hasnt', 'haven', 'havent', 'isn', 'ma', 'mightn', 'mightnt', 'mustn', 'needn', 'neednt', 'shan', 'shant', 'shouldn', 'wasn', 'weren', 'won', 'wouldn']

In [30]:
# clean text (reviews) using the modified_stop_words
def clean(text):

    # Remove Punctuation
    for punctuation in string.punctuation:
        text = text.replace(punctuation, ' ')

    # Lower Case
    lowercased = text.lower()

    # Tokenize
    tokenized = word_tokenize(lowercased)

    # Remove numbers
    words_only = [word for word in tokenized if word.isalpha()]

    # Use modified_stop_words list instead of downloading a new one
    stop_words = set(preprocessed_stopwords)

    # Remove Stop Words using modified list
    without_stopwords = [word for word in words_only if not word in stop_words]

    return " ".join(without_stopwords)

In [33]:
# checking clean_text
# print(all_res_merged.iloc[0].clean_text)
# print(all_res_merged.iloc[0].text)

In [44]:
restaurants_reviews = all_res_merged.drop(columns=['user_id', 'useful', 'funny', 'cool',
                                                   'address', 'postal_code',
                                                   'is_open', 'attributes', 'categories', 'hours'])

In [45]:
restaurants_reviews.rename(columns={'stars_x': 'stars',
                            'stars_y': 'restaurant_avg_star'},
                            inplace=True)

In [46]:
restaurants_reviews.head(3)

,review_id,business_id,stars,text,date,name,city,state,latitude,longitude,restaurant_avg_star,review_count
0,l3Wk_mvAog6XANIuGQ9C7Q,EQ-TZ2eeD_E0BHuvoaeG5Q,4.0,"Locals recommended Milktooth, and it's an amaz...",2015-08-19 14:31:45,Milktooth,Indianapolis,IN,39.759169,-86.146494,4.0,1379
1,z0osLHDvXvzfm57D4DmD2Q,S2Ho8yLxhKAa26pBAm6rxA,3.0,"Service was crappy, and food was mediocre. I ...",2016-11-22 00:22:53,Creole House Restaurant & Oyster Bar,New Orleans,LA,29.952213,-90.067116,4.0,1594
2,elqRpX9T3YwL07uLNtN3Bg,ltBBYdNzkeKdCNPDAsxwAA,2.0,I at least have to give this restaurant two st...,2015-02-02 04:29:13,Tavern,Nashville,TN,36.150900,-86.797012,4.0,1222

In [47]:
# Check the balance of the dataset
print(restaurants_reviews['stars'].value_counts())

stars
5.0    272835
4.0    139669
3.0     60183
2.0     34353
1.0     31410
Name: count, dtype: int64

In [48]:
# Sample 5,000 reviews from each score category
balanced_reviews = restaurants_reviews.groupby('stars', group_keys=False).apply(lambda x: x.sample(n=5000, random_state=1)).reset_index(drop=True)

/var/folders/t6/4533f44d5blg5vh4g7y3rtnw0000gn/T/ipykernel_31127/877621674.py:2: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  balanced_reviews = restaurants_reviews.groupby('stars', group_keys=False).apply(lambda x: x.sample(n=5000, random_state=1)).reset_index(drop=True)

In [49]:
balanced_reviews['stars'].value_counts()

stars
1.0    5000
2.0    5000
3.0    5000
4.0    5000
5.0    5000
Name: count, dtype: int64

In [50]:
balanced_reviews.head()

,review_id,business_id,stars,text,date,name,city,state,latitude,longitude,restaurant_avg_star,review_count
0,EjsOmXE7yi1wKvnuSlbIwQ,9cu2p2Z925hHkWHVyrp1JQ,1.0,Awful. Awful experience . Will never go back. ...,2017-02-19 23:16:24,Hawkers Asian Street Food,St. Petersburg,FL,27.771325,-82.651594,4.0,1202
1,t3Pr-eGUeGkcFo2ECxjTFA,3SM8CZuY5MiAruczCm556w,1.0,Over-priced and poor management..\n\nComing fr...,2020-07-14 05:15:40,Barbacoa Grill,Boise,ID,43.597584,-116.183693,4.0,1099
2,rFUHyqIewSV3aJsGMxmksg,S2Ho8yLxhKAa26pBAm6rxA,1.0,"We just finished our meal, waited for about 10...",2018-12-05 22:54:29,Creole House Restaurant & Oyster Bar,New Orleans,LA,29.952213,-90.067116,4.0,1594
3,nQxBHhleBdF3u1IDggrQxA,ld_H5-FpZOWm_tkzwkPYQQ,1.0,The staff here is apparently not trained in an...,2020-12-22 21:00:29,Silver Legacy Resort Casino,Reno,NV,39.530502,-119.814995,3.0,1534
4,oV34j9gmonl2FHNehWElVg,AGlh4ZDv6jnoiYfz7At9mw,1.0,This fucking place. Don't even get me started....,2018-09-17 01:38:56,Dim Sum Garden,Philadelphia,PA,39.955399,-75.156727,4.0,2672

In [51]:
# Apply function to all `reviews`
# 3m 2.2s
balanced_reviews['clean_text'] = balanced_reviews['text'].apply(clean)
balanced_reviews.columns

Index(['review_id', 'business_id', 'stars', 'text', 'date', 'name', 'city',
       'state', 'latitude', 'longitude', 'restaurant_avg_star', 'review_count',
       'clean_text'],
      dtype='object')

In [52]:
balanced_reviews.drop(columns=['text'], inplace=True)

In [185]:
from scipy.sparse import hstack
from sklearn.feature_extraction.text import TfidfVectorizer

min_dfs = {1: 0.02, 2: 0.005, 3: 0.001, 4: 0.0005}

sparse_matrices = []
feature_names = []

for i in range(1, 5):
    vectorizer = TfidfVectorizer(ngram_range=(i, i), min_df=min_dfs[i])
    vectorized_text = vectorizer.fit_transform(balanced_reviews['clean_text'])
    sparse_matrices.append(vectorized_text)
    feature_names.extend([f"{word}" for word in vectorizer.get_feature_names_out()])

    print(f"Number of features for {i} words: {vectorized_text.shape[1]}")

# Horizontally concatenate all sparse matrices
concatenated_vectorized_text = hstack(sparse_matrices)

# Convert the concatenated sparse matrix to a DataFrame
vectorized_text_df = pd.DataFrame(
    concatenated_vectorized_text.toarray(),
    columns=feature_names
)

vectorized_text_df

Number of features for 1 words: 514
Number of features for 2 words: 448
Number of features for 3 words: 417
Number of features for 4 words: 87

,able,absolutely,across,actually,again,ago,almost,already,also,although,...,would definitely go again,would definitely go back,would definitely recommend place,would go back again,would never go back,would not come back,would not go back,would not order again,would not recommend place,would not recommend restaurant
0,0.0,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.168220,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24995,0.0,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.416830,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
24996,0.0,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
24997,0.0,0.108733,0.0,0.0,0.0,0.122696,0.0,0.0,0.070144,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
24998,0.0,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.246913,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
24999,0.0,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [186]:
# 25 topics: Took 6 min 29 sec
# 30 topics: Took 7 min 12 sec
# Count Vectorizer: 14min 11.1s
from sklearn.decomposition import LatentDirichletAllocation

# Instantiate the LDA
n_components = 30
lda_model = LatentDirichletAllocation(
    n_components=n_components,
    max_iter=500,
    random_state=1,
    n_jobs=-1,
)

# Fit the LDA on the vectorized documents
lda_model.fit(concatenated_vectorized_text)

LatentDirichletAllocation(max_iter=500, n_components=30, n_jobs=-1,
                          random_state=1)

In [187]:
document_mixture = lda_model.transform(concatenated_vectorized_text)
document_mixture.shape

(25000, 30)

In [188]:
def print_topics(model, feature_names):
    for idx, topic in enumerate(model.components_):
        print("Topic %d:" % (idx))
        print([(feature_names[i], topic[i]) for i in topic.argsort()[:-10 - 1:-1]])

def get_topics(model, feature_names):
    topics = []
    for idx, topic in enumerate(model.components_):
        topics.append([(feature_names[i], topic[i]) for i in topic.argsort()[:-10 - 1:-1]])
    return topics

# Use the modified functions
print_topics(lda_model, feature_names)

topics = get_topics(lda_model, feature_names)
topics

Topic 0:
[('customer service', 187.58544244085982), ('of', 149.09064745694505), ('room', 148.62228519570576), ('not', 132.03225447214555), ('time', 102.9385203830135), ('feel like', 101.9949475970671), ('hotel', 100.98267074164983), ('customer', 100.61135600943662), ('like', 92.8946265954009), ('first time', 89.80907996475278)]
Topic 1:
[('of us', 135.20322074228525), ('of', 92.91633653771986), ('front of', 88.50689261098856), ('bar', 87.1347450125383), ('try place', 76.32209682719038), ('us', 75.46174156183983), ('sat bar', 72.57124419229059), ('saturday night', 66.43502576784515), ('excited try', 62.35782119383167), ('sit bar', 50.30243360449455)]
Topic 2:
[('not best', 77.4309295577433), ('waste time', 73.92579541258164), ('very nice', 68.37022255964119), ('food average', 65.75617820643491), ('bottle of', 56.40321512019867), ('two of us', 51.133187514995036), ('bottle of wine', 43.49629523314632), ('two of', 40.880596092553986), ('average', 34.6298736631892), ('of wine', 31.619564756919683)]
Topic 3:
[('not worth', 194.54806685402116), ('good not', 150.24984506344603), ('not', 129.17665946475483), ('not great', 124.59513105722426), ('worth', 106.93051149190279), ('would go back', 98.52701614595894), ('good not great', 91.66696114068587), ('fried green tomatoes', 87.5789746882547), ('would go', 77.47767369220462), ('not worth price', 70.21118940890385)]
Topic 4:
[('new orleans', 455.9708605246032), ('orleans', 232.11793303386006), ('new', 196.92669153107454), ('of new orleans', 94.30570197444948), ('of new', 72.51162396449517), ('worth wait', 64.77592746491813), ('not worth wait', 60.6920110675228), ('go wrong', 56.14245934712916), ('taste of new orleans', 42.182191827765344), ('philly cheese steak', 40.77247202640778)]
Topic 5:
[('wait', 162.82576926024413), ('food', 103.5850478098033), ('long wait', 101.73559037454905), ('make sure', 97.94278793644102), ('minutes', 96.81167076235357), ('get', 85.02065647190362), ('party of', 82.2487250158075), ('mexican food', 77.84800980110273), ('waited minutes', 76.40882224244736), ('hour', 76.27070694005234)]
Topic 6:
[('of food', 172.1398267446708), ('of', 154.32070133786732), ('quality of food', 133.18914542576755), ('quality of', 113.72512794378213), ('very disappointed', 101.60200007940648), ('dining experience', 94.43680654956562), ('food', 93.2138431826318), ('quality', 81.54702284947462), ('one of most', 75.03183235826533), ('most of', 65.07922444951484)]
Topic 7:
[('shrimp grits', 179.45841068129516), ('grits', 117.97667573600054), ('would recommend', 110.2457725352538), ('bread pudding', 108.29373656741441), ('shrimp', 102.52532845705448), ('everything else', 73.51349837194937), ('of', 70.68448480022752), ('good', 62.79368941752057), ('really enjoyed', 57.67319569104235), ('not', 57.22399047070861)]
Topic 8:
[('po boy', 239.8015456014582), ('po', 176.3367044929478), ('boy', 141.28067235982675), ('shrimp po boy', 139.05305428581397), ('shrimp', 108.8159885166905), ('nothing special', 102.47031942793532), ('po boys', 85.71036697162882), ('shrimp po', 83.02865665263734), ('food ok', 75.70150158979007), ('fried shrimp', 58.91852566628018)]
Topic 9:
[('go back', 129.31415238103338), ('long time', 89.44384772122156), ('never go', 80.74220024227753), ('never go back', 76.84276389231405), ('not go', 73.5518296337317), ('back again', 70.1291661469905), ('go', 62.00148861087651), ('go back again', 61.57538888571603), ('not go back', 47.71983207089633), ('long', 46.313481501392666)]
Topic 10:
[('of', 223.54962749536054), ('like', 185.94414754432435), ('tasted like', 172.76761344935704), ('too much', 162.2361277168713), ('too', 132.3432738629518), ('not', 125.14333131311521), ('good', 123.55540423835497), ('instead of', 108.42771051780315), ('tasted', 104.16734896376614), ('much', 101.79610951839209)]
Topic 11:
[('mac cheese', 280.78337632804545), ('mac', 160.96259806600503), ('chicken', 151.12682020998253), ('pulled pork', 132.05763196841), ('cheese', 127.96615820337055), ('bbq', 120.74228185702476), ('hot chicken', 119.42012871728778), ('hot', 107.22486410473552), ('pork', 99.35534168676517), ('sandwich', 80.85953904884057)]
Topic 12:
[('happy hour', 228.92057885018562), ('ice cream', 164.85266141219392), ('happy', 108.35779745185482), ('sweet potato', 107.4377272868217), ('sweet potato fries', 93.56995643016393), ('hour', 92.46544814992598), ('selection of', 87.02925338034021), ('ice', 82.94626202663422), ('cream', 79.3923598567216), ('definitely recommend', 78.46345009799504)]
Topic 13:
[('of', 203.19464459008864), ('amount of', 155.8148240296458), ('cheese', 126.71639316701234), ('steak', 120.728719958348), ('cheese steak', 119.7110412027603), ('of time', 88.62411186543069), ('meat', 85.8151566750791), ('of meat', 84.51125616743259), ('amount', 77.17392289027026), ('couple of', 75.84669211021013)]
Topic 14:
[('cheesesteak', 101.0669064005384), ('really good', 95.99652186324123), ('not', 95.18766146412884), ('not impressed', 94.99744399060664), ('really', 86.70211526453386), ('recommend place', 74.95729746523783), ('good', 74.61948489908322), ('place', 71.85947830688698), ('food really', 70.68367944296554), ('philly', 66.25453634470921)]
Topic 15:
[('nothing write home', 101.7986174097133), ('would come back', 96.50713587265719), ('wait staff', 94.60068246170876), ('staff very', 87.24773012157463), ('would come', 82.24892996497816), ('staff very friendly', 75.60746451580034), ('very friendly', 71.63557351754365), ('write home', 67.28171854459798), ('not bad', 58.34989160658995), ('staff', 55.425501929047826)]
Topic 16:
[('very good', 182.5521457961769), ('food good', 179.23152486792455), ('good', 160.03337199140861), ('good service', 139.13722574517877), ('very', 116.95716678826973), ('clam chowder', 80.86079150482038), ('food', 75.99735657054977), ('seated right away', 72.09621150716222), ('crab cakes', 70.99751375973383), ('very tasty', 70.85209674088927)]
Topic 17:
[('great', 227.92906364317398), ('food great', 201.14387297249036), ('great service', 199.7929995773502), ('great food', 170.89855483144032), ('food', 156.04076620577712), ('would not recommend', 130.6021721885953), ('service', 122.01999352636713), ('love place', 102.99937222192163), ('service food', 102.81656227144225), ('great atmosphere', 97.0965996976415)]
Topic 18:
[('good food', 161.7562099417693), ('service good', 116.81371107111114), ('pretty good', 104.25888325171951), ('good', 97.21317505457596), ('food pretty good', 73.94124900400018), ('food pretty', 67.49466206492868), ('pretty', 59.744873212246034), ('food', 58.81177197806413), ('trip new orleans', 56.565539485289364), ('time go', 55.89764285626429)]
Topic 19:
[('part of', 153.70302802439863), ('best part', 95.8321371967488), ('best part of', 94.48344953323445), ('part', 87.44880442224958), ('of meal', 85.91233928396706), ('kind of', 74.62543086018164), ('not very', 70.51983751364499), ('best part of meal', 70.03834457916193), ('part of meal', 66.92622122083453), ('end of meal', 64.79794402189293)]
Topic 20:
[('come back', 97.74265534062626), ('definitely come back', 81.34542436006923), ('rest of', 79.34145287813999), ('full of', 77.75556388603512), ('definitely come', 69.17218597672489), ('would definitely', 66.16738611772031), ('would definitely come back', 56.273282389566674), ('come back again', 55.16489984112545), ('would definitely come', 44.45767252895793), ('full of flavor', 44.23998972201195)]
Topic 21:
[('fried chicken', 221.51107009366385), ('chicken', 160.06562344844596), ('red beans rice', 158.44571118202225), ('fried', 119.13769222575344), ('beans rice', 114.90253447393742), ('fan of', 110.69357657048451), ('red beans', 107.81851490872745), ('beans', 104.9373873527374), ('not fan of', 93.09732709566798), ('rice', 90.5949467045202)]
Topic 22:
[('lots of', 191.68575703540714), ('of', 170.82864181137086), ('lot of', 159.14687826513048), ('lots', 105.58911638052814), ('outdoor seating', 92.92440156294464), ('bit of', 91.17381816402411), ('lot', 83.99574759386023), ('great', 77.92504665941058), ('plenty of', 75.89283519492376), ('place', 73.68269363949965)]
Topic 23:
[('us', 332.0545366589211), ('of', 303.2377884579245), ('not', 216.06464990463283), ('table', 191.98403826407107), ('minutes', 178.88255609569245), ('no', 174.43865523281056), ('food', 167.81220778941807), ('asked', 165.20217183844764), ('came', 157.21406154547515), ('order', 156.12451043537862)]
Topic 24:
[('highly recommend', 234.80762343677782), ('great', 144.39097100869515), ('service great', 135.05643435635182), ('highly', 121.31375788144489), ('amazing', 116.86804712477843), ('recommend', 107.4849601185729), ('food', 105.45363392699201), ('great place', 102.98183023937814), ('food amazing', 102.61562968684908), ('delicious', 91.29643844466064)]
Topic 25:
[('oysters', 261.3277566200907), ('chargrilled oysters', 114.14560478626683), ('charbroiled oysters', 90.93648334398908), ('raw oysters', 84.18184006181049), ('gumbo', 81.79561186225196), ('next time', 72.99823825393156), ('oyster', 72.46069396905868), ('seafood', 70.70546588125829), ('grilled oysters', 68.43376664412192), ('of places', 67.40360024552635)]
Topic 26:
[('french toast', 196.2922541531405), ('breakfast', 136.77679295468795), ('eggs', 134.1059146215489), ('toast', 131.30338400030897), ('french', 116.67291028282591), ('bloody mary', 106.91192640910991), ('eggs benedict', 93.28325498417938), ('brunch', 88.2540379300453), ('of', 84.39529048098302), ('coffee', 71.67192302249646)]
Topic 27:
[('one of favorite', 131.52107304355604), ('of favorite', 99.97334413801428), ('live music', 97.97594983163), ('friendly staff', 74.49357570912215), ('definitely go', 73.78308154166284), ('definitely go back', 66.14960454162872), ('staff friendly', 63.48603787871525), ('friendly', 61.34761957405638), ('would definitely go back', 57.96972592621856), ('would definitely go', 53.87753798138377)]
Topic 28:
[('one of best', 257.4240530323906), ('one of', 232.68273926028786), ('of best', 230.32507397634083), ('best', 93.82320295067663), ('one', 89.9388583835413), ('food very good', 83.73130781436384), ('food very', 81.51507526233016), ('best ever', 76.6778668327808), ('of', 69.67551794715058), ('ever', 65.74589185335567)]
Topic 29:
[('tourist trap', 151.62188575153976), ('much better', 145.1132657162369), ('across street', 117.25156616134622), ('tourist', 100.04964905606457), ('better', 99.19341843007798), ('line', 90.55989016770626), ('much', 89.87701941164423), ('long line', 83.57207477052256), ('food mediocre', 78.42925581178847), ('cafe du monde', 71.89692511086278)]

[[('customer service', 187.58544244085982),
  ('of', 149.09064745694505),
  ('room', 148.62228519570576),
  ('not', 132.03225447214555),
  ('time', 102.9385203830135),
  ('feel like', 101.9949475970671),
  ('hotel', 100.98267074164983),
  ('customer', 100.61135600943662),
  ('like', 92.8946265954009),
  ('first time', 89.80907996475278)],
 [('of us', 135.20322074228525),
  ('of', 92.91633653771986),
  ('front of', 88.50689261098856),
  ('bar', 87.1347450125383),
  ('try place', 76.32209682719038),
  ('us', 75.46174156183983),
  ('sat bar', 72.57124419229059),
  ('saturday night', 66.43502576784515),
  ('excited try', 62.35782119383167),
  ('sit bar', 50.30243360449455)],
 [('not best', 77.4309295577433),
  ('waste time', 73.92579541258164),
  ('very nice', 68.37022255964119),
  ('food average', 65.75617820643491),
  ('bottle of', 56.40321512019867),
  ('two of us', 51.133187514995036),
  ('bottle of wine', 43.49629523314632),
  ('two of', 40.880596092553986),
  ('average', 34.6298736631892),
  ('of wine', 31.619564756919683)],
 [('not worth', 194.54806685402116),
  ('good not', 150.24984506344603),
  ('not', 129.17665946475483),
  ('not great', 124.59513105722426),
  ('worth', 106.93051149190279),
  ('would go back', 98.52701614595894),
  ('good not great', 91.66696114068587),
  ('fried green tomatoes', 87.5789746882547),
  ('would go', 77.47767369220462),
  ('not worth price', 70.21118940890385)],
 [('new orleans', 455.9708605246032),
  ('orleans', 232.11793303386006),
  ('new', 196.92669153107454),
  ('of new orleans', 94.30570197444948),
  ('of new', 72.51162396449517),
  ('worth wait', 64.77592746491813),
  ('not worth wait', 60.6920110675228),
  ('go wrong', 56.14245934712916),
  ('taste of new orleans', 42.182191827765344),
  ('philly cheese steak', 40.77247202640778)],
 [('wait', 162.82576926024413),
  ('food', 103.5850478098033),
  ('long wait', 101.73559037454905),
  ('make sure', 97.94278793644102),
  ('minutes', 96.81167076235357),
  ('get', 85.02065647190362),
  ('party of', 82.2487250158075),
  ('mexican food', 77.84800980110273),
  ('waited minutes', 76.40882224244736),
  ('hour', 76.27070694005234)],
 [('of food', 172.1398267446708),
  ('of', 154.32070133786732),
  ('quality of food', 133.18914542576755),
  ('quality of', 113.72512794378213),
  ('very disappointed', 101.60200007940648),
  ('dining experience', 94.43680654956562),
  ('food', 93.2138431826318),
  ('quality', 81.54702284947462),
  ('one of most', 75.03183235826533),
  ('most of', 65.07922444951484)],
 [('shrimp grits', 179.45841068129516),
  ('grits', 117.97667573600054),
  ('would recommend', 110.2457725352538),
  ('bread pudding', 108.29373656741441),
  ('shrimp', 102.52532845705448),
  ('everything else', 73.51349837194937),
  ('of', 70.68448480022752),
  ('good', 62.79368941752057),
  ('really enjoyed', 57.67319569104235),
  ('not', 57.22399047070861)],
 [('po boy', 239.8015456014582),
  ('po', 176.3367044929478),
  ('boy', 141.28067235982675),
  ('shrimp po boy', 139.05305428581397),
  ('shrimp', 108.8159885166905),
  ('nothing special', 102.47031942793532),
  ('po boys', 85.71036697162882),
  ('shrimp po', 83.02865665263734),
  ('food ok', 75.70150158979007),
  ('fried shrimp', 58.91852566628018)],
 [('go back', 129.31415238103338),
  ('long time', 89.44384772122156),
  ('never go', 80.74220024227753),
  ('never go back', 76.84276389231405),
  ('not go', 73.5518296337317),
  ('back again', 70.1291661469905),
  ('go', 62.00148861087651),
  ('go back again', 61.57538888571603),
  ('not go back', 47.71983207089633),
  ('long', 46.313481501392666)],
 [('of', 223.54962749536054),
  ('like', 185.94414754432435),
  ('tasted like', 172.76761344935704),
  ('too much', 162.2361277168713),
  ('too', 132.3432738629518),
  ('not', 125.14333131311521),
  ('good', 123.55540423835497),
  ('instead of', 108.42771051780315),
  ('tasted', 104.16734896376614),
  ('much', 101.79610951839209)],
 [('mac cheese', 280.78337632804545),
  ('mac', 160.96259806600503),
  ('chicken', 151.12682020998253),
  ('pulled pork', 132.05763196841),
  ('cheese', 127.96615820337055),
  ('bbq', 120.74228185702476),
  ('hot chicken', 119.42012871728778),
  ('hot', 107.22486410473552),
  ('pork', 99.35534168676517),
  ('sandwich', 80.85953904884057)],
 [('happy hour', 228.92057885018562),
  ('ice cream', 164.85266141219392),
  ('happy', 108.35779745185482),
  ('sweet potato', 107.4377272868217),
  ('sweet potato fries', 93.56995643016393),
  ('hour', 92.46544814992598),
  ('selection of', 87.02925338034021),
  ('ice', 82.94626202663422),
  ('cream', 79.3923598567216),
  ('definitely recommend', 78.46345009799504)],
 [('of', 203.19464459008864),
  ('amount of', 155.8148240296458),
  ('cheese', 126.71639316701234),
  ('steak', 120.728719958348),
  ('cheese steak', 119.7110412027603),
  ('of time', 88.62411186543069),
  ('meat', 85.8151566750791),
  ('of meat', 84.51125616743259),
  ('amount', 77.17392289027026),
  ('couple of', 75.84669211021013)],
 [('cheesesteak', 101.0669064005384),
  ('really good', 95.99652186324123),
  ('not', 95.18766146412884),
  ('not impressed', 94.99744399060664),
  ('really', 86.70211526453386),
  ('recommend place', 74.95729746523783),
  ('good', 74.61948489908322),
  ('place', 71.85947830688698),
  ('food really', 70.68367944296554),
  ('philly', 66.25453634470921)],
 [('nothing write home', 101.7986174097133),
  ('would come back', 96.50713587265719),
  ('wait staff', 94.60068246170876),
  ('staff very', 87.24773012157463),
  ('would come', 82.24892996497816),
  ('staff very friendly', 75.60746451580034),
  ('very friendly', 71.63557351754365),
  ('write home', 67.28171854459798),
  ('not bad', 58.34989160658995),
  ('staff', 55.425501929047826)],
 [('very good', 182.5521457961769),
  ('food good', 179.23152486792455),
  ('good', 160.03337199140861),
  ('good service', 139.13722574517877),
  ('very', 116.95716678826973),
  ('clam chowder', 80.86079150482038),
  ('food', 75.99735657054977),
  ('seated right away', 72.09621150716222),
  ('crab cakes', 70.99751375973383),
  ('very tasty', 70.85209674088927)],
 [('great', 227.92906364317398),
  ('food great', 201.14387297249036),
  ('great service', 199.7929995773502),
  ('great food', 170.89855483144032),
  ('food', 156.04076620577712),
  ('would not recommend', 130.6021721885953),
  ('service', 122.01999352636713),
  ('love place', 102.99937222192163),
  ('service food', 102.81656227144225),
  ('great atmosphere', 97.0965996976415)],
 [('good food', 161.7562099417693),
  ('service good', 116.81371107111114),
  ('pretty good', 104.25888325171951),
  ('good', 97.21317505457596),
  ('food pretty good', 73.94124900400018),
  ('food pretty', 67.49466206492868),
  ('pretty', 59.744873212246034),
  ('food', 58.81177197806413),
  ('trip new orleans', 56.565539485289364),
  ('time go', 55.89764285626429)],
 [('part of', 153.70302802439863),
  ('best part', 95.8321371967488),
  ('best part of', 94.48344953323445),
  ('part', 87.44880442224958),
  ('of meal', 85.91233928396706),
  ('kind of', 74.62543086018164),
  ('not very', 70.51983751364499),
  ('best part of meal', 70.03834457916193),
  ('part of meal', 66.92622122083453),
  ('end of meal', 64.79794402189293)],
 [('come back', 97.74265534062626),
  ('definitely come back', 81.34542436006923),
  ('rest of', 79.34145287813999),
  ('full of', 77.75556388603512),
  ('definitely come', 69.17218597672489),
  ('would definitely', 66.16738611772031),
  ('would definitely come back', 56.273282389566674),
  ('come back again', 55.16489984112545),
  ('would definitely come', 44.45767252895793),
  ('full of flavor', 44.23998972201195)],
 [('fried chicken', 221.51107009366385),
  ('chicken', 160.06562344844596),
  ('red beans rice', 158.44571118202225),
  ('fried', 119.13769222575344),
  ('beans rice', 114.90253447393742),
  ('fan of', 110.69357657048451),
  ('red beans', 107.81851490872745),
  ('beans', 104.9373873527374),
  ('not fan of', 93.09732709566798),
  ('rice', 90.5949467045202)],
 [('lots of', 191.68575703540714),
  ('of', 170.82864181137086),
  ('lot of', 159.14687826513048),
  ('lots', 105.58911638052814),
  ('outdoor seating', 92.92440156294464),
  ('bit of', 91.17381816402411),
  ('lot', 83.99574759386023),
  ('great', 77.92504665941058),
  ('plenty of', 75.89283519492376),
  ('place', 73.68269363949965)],
 [('us', 332.0545366589211),
  ('of', 303.2377884579245),
  ('not', 216.06464990463283),
  ('table', 191.98403826407107),
  ('minutes', 178.88255609569245),
  ('no', 174.43865523281056),
  ('food', 167.81220778941807),
  ('asked', 165.20217183844764),
  ('came', 157.21406154547515),
  ('order', 156.12451043537862)],
 [('highly recommend', 234.80762343677782),
  ('great', 144.39097100869515),
  ('service great', 135.05643435635182),
  ('highly', 121.31375788144489),
  ('amazing', 116.86804712477843),
  ('recommend', 107.4849601185729),
  ('food', 105.45363392699201),
  ('great place', 102.98183023937814),
  ('food amazing', 102.61562968684908),
  ('delicious', 91.29643844466064)],
 [('oysters', 261.3277566200907),
  ('chargrilled oysters', 114.14560478626683),
  ('charbroiled oysters', 90.93648334398908),
  ('raw oysters', 84.18184006181049),
  ('gumbo', 81.79561186225196),
  ('next time', 72.99823825393156),
  ('oyster', 72.46069396905868),
  ('seafood', 70.70546588125829),
  ('grilled oysters', 68.43376664412192),
  ('of places', 67.40360024552635)],
 [('french toast', 196.2922541531405),
  ('breakfast', 136.77679295468795),
  ('eggs', 134.1059146215489),
  ('toast', 131.30338400030897),
  ('french', 116.67291028282591),
  ('bloody mary', 106.91192640910991),
  ('eggs benedict', 93.28325498417938),
  ('brunch', 88.2540379300453),
  ('of', 84.39529048098302),
  ('coffee', 71.67192302249646)],
 [('one of favorite', 131.52107304355604),
  ('of favorite', 99.97334413801428),
  ('live music', 97.97594983163),
  ('friendly staff', 74.49357570912215),
  ('definitely go', 73.78308154166284),
  ('definitely go back', 66.14960454162872),
  ('staff friendly', 63.48603787871525),
  ('friendly', 61.34761957405638),
  ('would definitely go back', 57.96972592621856),
  ('would definitely go', 53.87753798138377)],
 [('one of best', 257.4240530323906),
  ('one of', 232.68273926028786),
  ('of best', 230.32507397634083),
  ('best', 93.82320295067663),
  ('one', 89.9388583835413),
  ('food very good', 83.73130781436384),
  ('food very', 81.51507526233016),
  ('best ever', 76.6778668327808),
  ('of', 69.67551794715058),
  ('ever', 65.74589185335567)],
 [('tourist trap', 151.62188575153976),
  ('much better', 145.1132657162369),
  ('across street', 117.25156616134622),
  ('tourist', 100.04964905606457),
  ('better', 99.19341843007798),
  ('line', 90.55989016770626),
  ('much', 89.87701941164423),
  ('long line', 83.57207477052256),
  ('food mediocre', 78.42925581178847),
  ('cafe du monde', 71.89692511086278)]]

In [58]:
def export_topics_to_csv(topics, params):
    topics_df = pd.DataFrame(topics)
    params_string = '_'.join([f'{value}{key}' for key, value in params.items()])
    topics_df.to_csv(f'../sandun_notebooks/csv/topics_{params_string}.csv', index=False)

In [65]:
min_dfs

{1: 0.02, 2: 0.005, 3: 0.001, 4: 0.0005}

In [66]:
import csv

param_dict = {
    'topics': n_components,
    'min_dfs': "0.02_0.005_0.001_0.0005",
    'max_iter': '500',
    'topic_word_prior': 0.01
}

# CSV file name
params_string = '_'.join([f'{value}{key}' for key, value in param_dict.items()])
filename = f'./csv/topics_{params_string}.csv'

# Creating the CSV file
with open(filename, 'w', newline='') as csvfile:
    csvwriter = csv.writer(csvfile)

    # Writing the headers
    # csvwriter.writerow(["Topic", "Phrase", "Score"])
    csvwriter.writerow(["phrase", "score", "topic"])

    # Writing the data
    for topic_index, topic_list in enumerate(topics):
        for phrase, score in topic_list:
            csvwriter.writerow([phrase, score, topic_index])

print(f"CSV file '{filename}' created successfully.")

CSV file './csv/topics_30topics_0.02_0.005_0.001_0.0005min_dfs_500max_iter_0.01topic_word_prior.csv' created successfully.

In [ ]:
# n_components = 30
# lda_model = LatentDirichletAllocation(
#     n_components=n_components,
#     max_iter=500,
#     random_state=1,
#     n_jobs=-1,
#     topic_word_prior=0.01,
# )

In [61]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error, mean_absolute_percentage_error
from sklearn.preprocessing import StandardScaler

In [68]:
key_phrases = pd.read_csv('./csv/topics_30topics_0.02_0.005_0.001_0.0005min_dfs_500max_iter_0.01topic_word_prior.csv')

In [69]:
key_phrases

               phrase       score  topic
0    customer service  192.945282      0
1                  of  161.413885      0
2                room  153.289571      0
3                 not  150.768080      0
4            customer  106.777045      0
..                ...         ...    ...
295              line   89.368565     29
296         long line   82.316417     29
297              much   79.759205     29
298     food mediocre   78.052394     29
299     cafe du monde   71.873592     29

[300 rows x 3 columns]

In [101]:
topics

[[('customer service', 192.94528218457043),
  ('of', 161.41388452696575),
  ('room', 153.2895710660561),
  ('not', 150.76807981908013),
  ('customer', 106.77704488501585),
  ('time', 106.25852368926572),
  ('hotel', 104.9765582903005),
  ('feel like', 102.1882084273905),
  ('first time', 99.2617732914727),
  ('like', 97.89739097889854)],
 [('of us', 137.55176267664075),
  ('bar', 96.14860190662226),
  ('of', 95.24982420287385),
  ('front of', 86.43459930554843),
  ('try place', 81.90831267050729),
  ('us', 79.97001887801817),
  ('sat bar', 79.34559692274564),
  ('saturday night', 64.44366718425711),
  ('excited try', 62.203008017374195),
  ('place', 52.675373438280644)],
 [('very nice', 79.45886406639087),
  ('waste time', 71.2763354073284),
  ('not best', 68.13808134624772),
  ('food average', 65.7328448731005),
  ('bottle of', 55.27593088958679),
  ('two of us', 51.10985418166174),
  ('two of', 44.06987415942866),
  ('bottle of wine', 43.47296189981287),
  ('average', 35.23959074657202),
  ('of dishes', 34.73961937209697)],
 [('not worth', 199.38284562406477),
  ('good not', 158.03702577315892),
  ('not', 134.15803893505975),
  ('not great', 125.55278502416358),
  ('worth', 114.31474259856338),
  ('would go back', 98.50368281262575),
  ('good not great', 91.64362780735264),
  ('fried green tomatoes', 87.55564135492139),
  ('would go', 76.24461283466492),
  ('good', 71.64166404024016)],
 [('new orleans', 430.4819706496192),
  ('orleans', 218.38931786331204),
  ('new', 185.45676529539654),
  ('of new orleans', 94.2823686411163),
  ('of new', 72.47674499970172),
  ('worth wait', 68.83290123052238),
  ('not worth wait', 60.66867773418978),
  ('go wrong', 51.12736094820985),
  ('service slow', 48.52607223161497),
  ('taste of new orleans', 42.15885849443209)],
 [('wait', 163.5284333706485),
  ('make sure', 110.00538437489452),
  ('long wait', 104.4373203021533),
  ('food', 99.9130945385815),
  ('minutes', 90.85287583502686),
  ('get', 85.94921764317861),
  ('party of', 83.32817631514425),
  ('long', 75.55503182087612),
  ('of', 75.12350495784065),
  ('hour', 74.18463495827991)],
 [('of food', 174.22735025315518),
  ('of', 154.08631663850917),
  ('quality of food', 133.16581209243418),
  ('quality of', 115.50277011238384),
  ('very disappointed', 104.0163146311332),
  ('dining experience', 99.47931493659915),
  ('food', 96.29811620094547),
  ('quality', 83.47691364012941),
  ('one of most', 75.0084990249319),
  ('most of', 67.74426331293073)],
 [('shrimp grits', 180.49511988271365),
  ('grits', 118.1345499927524),
  ('would recommend', 116.76937313308242),
  ('bread pudding', 105.95866137579466),
  ('shrimp', 102.20265003893644),
  ('of', 89.4312146958891),
  ('of course', 77.98057971851227),
  ('everything else', 75.7465043802403),
  ('good', 73.98953722873173),
  ('really enjoyed', 71.67677990035125)],
 [('po boy', 239.77821226812497),
  ('po', 176.31337115961492),
  ('boy', 141.49268605424422),
  ('shrimp po boy', 139.02972095248072),
  ('nothing special', 109.18514234292435),
  ('shrimp', 105.6379474427015),
  ('po boys', 85.68703363829599),
  ('shrimp po', 83.00532331930407),
  ('food ok', 73.90582022712302),
  ('fried shrimp', 58.556339673252104)],
 [('go back', 116.02504991127678),
  ('long time', 90.0622475378936),
  ('never go', 80.71886690894429),
  ('not go', 77.1502499506382),
  ('never go back', 76.81943055898077),
  ('back again', 63.773560452926674),
  ('go back again', 61.5520555523828),
  ('go', 58.96769953747961),
  ('too long', 51.51271402350041),
  ('not go back', 51.218293612496524)],
 [('of', 226.67816181010724),
  ('like', 172.11617524976683),
  ('too much', 167.21640738397156),
  ('tasted like', 163.80783844400025),
  ('too', 132.37169765196504),
  ('not', 123.09969151420383),
  ('good', 122.33898997857825),
  ('instead of', 111.2633314812392),
  ('much', 105.05390314211293),
  ('tasted', 100.00227969943877)],
 [('mac cheese', 281.25676201093194),
  ('mac', 163.9322283185225),
  ('chicken', 149.78246411700746),
  ('pulled pork', 132.4486428323346),
  ('cheese', 126.96522526970574),
  ('hot chicken', 119.39679538395532),
  ('bbq', 119.04816624601838),
  ('hot', 108.18277721859597),
  ('pork', 97.05606623852113),
  ('sandwich', 79.02982855493589)],
 [('happy hour', 228.88541304711546),
  ('ice cream', 168.07794016859066),
  ('sweet potato', 109.86223053350263),
  ('happy', 107.76240172991506),
  ('sweet potato fries', 93.54662309683064),
  ('selection of', 92.0954095123251),
  ('hour', 91.75149936939148),
  ('ice', 84.5282499564361),
  ('cream', 81.33560303548303),
  ('definitely recommend', 78.47128107737834)],
 [('of', 192.97186395570563),
  ('amount of', 154.71271200450934),
  ('cheese steak', 119.68770786942704),
  ('cheese', 118.92921946876432),
  ('steak', 111.96650099386528),
  ('of time', 89.90555347858398),
  ('couple of', 86.37545487818377),
  ('meat', 76.93750191454536),
  ('of meat', 75.84733314975664),
  ('amount', 75.77380136655022)],
 [('cheesesteak', 116.6462206523277),
  ('really good', 97.25885910098022),
  ('not impressed', 94.97563021733376),
  ('not', 94.19507764835515),
  ('philly', 85.32152102257376),
  ('really', 77.5480498078239),
  ('place', 72.47748009760689),
  ('recommend place', 72.3416726282801),
  ('philly cheesesteak', 72.31168724561839),
  ('good', 70.81933149772946)],
 [('nothing write home', 101.77528407638006),
  ('wait staff', 96.75795379612106),
  ('would come back', 96.48380253932395),
  ('staff very', 88.11643901719663),
  ('would come', 82.81917710809199),
  ('very friendly', 78.30021467099539),
  ('staff very friendly', 75.58413118246706),
  ('write home', 67.25838521126477),
  ('not bad', 59.413036587052474),
  ('staff', 57.595380562651265)],
 [('food good', 182.79658569386584),
  ('very good', 172.01216832243568),
  ('good', 150.38090885309154),
  ('good service', 139.72102756393548),
  ('very', 112.59678154199686),
  ('clam chowder', 81.2663798847137),
  ('very tasty', 76.29607496611112),
  ('seated right away', 72.07287817382937),
  ('food', 71.3652950683007),
  ('crab cakes', 69.4485269040476)],
 [('great', 271.15913166843495),
  ('food great', 208.86070790184183),
  ('great service', 198.63469682612808),
  ('great food', 176.34851814254927),
  ('food', 170.9367015246165),
  ('service', 136.43407473656742),
  ('would not recommend', 130.57883885523802),
  ('love place', 108.59588354184079),
  ('service food', 105.48677216376538),
  ('great atmosphere', 98.85188905641087)],
 [('good food', 151.25861504490734),
  ('pretty good', 121.44936617685937),
  ('service good', 118.65654122520503),
  ('good', 101.30733258873025),
  ('food pretty good', 73.91791567066694),
  ('pretty', 67.99688547546705),
  ('food pretty', 67.47132873159606),
  ('food', 57.455949585531386),
  ('trip new orleans', 56.54220615195651),
  ('time go', 55.44634468425333)],
 [('part of', 146.74296146186745),
  ('best part', 95.80880386341613),
  ('best part of', 94.46011619990115),
  ('of meal', 87.0797916127146),
  ('part', 85.36592696928884),
  ('kind of', 75.21728911463137),
  ('not very', 72.73407421318342),
  ('best part of meal', 70.01501124582867),
  ('part of meal', 66.90288788750141),
  ('end of meal', 64.77461068855953)],
 [('next time', 111.06156636338521),
  ('come back', 107.27781565909928),
  ('definitely come back', 81.3220910267356),
  ('definitely back', 72.24301189777948),
  ('full of', 70.51870072821826),
  ('definitely come', 69.1488526433887),
  ('rest of', 67.28651624510556),
  ('would definitely', 65.382646345659),
  ('definitely', 64.82135219470175),
  ('back next', 64.05972064716177)],
 [('fried chicken', 220.80887780186092),
  ('red beans rice', 158.42237784868882),
  ('chicken', 156.9923180310733),
  ('fried', 116.60717529401097),
  ('beans rice', 114.87920114060388),
  ('fan of', 111.31713276552182),
  ('red beans', 107.79518157539417),
  ('beans', 105.36581581444743),
  ('not fan of', 93.07399376233472),
  ('rice', 88.5002362330894)],
 [('lots of', 187.86062961211726),
  ('of', 165.10313884884792),
  ('lot of', 156.7138083558103),
  ('lots', 104.63255513054327),
  ('outdoor seating', 91.6496629517662),
  ('bit of', 89.955261486039),
  ('lot', 84.48265642621861),
  ('great', 77.80838041562156),
  ('plenty of', 77.77585053573628),
  ('seating', 73.13939368577617)],
 [('us', 322.6249271387212),
  ('of', 295.1031290949197),
  ('not', 206.43904977063352),
  ('table', 188.51752506484883),
  ('minutes', 182.25711319209634),
  ('no', 167.8374407709877),
  ('asked', 163.82384355054933),
  ('food', 162.50012457666506),
  ('came', 154.61391389487497),
  ('order', 153.79659367687665)],
 [('highly recommend', 235.5464133911524),
  ('service great', 125.1481569038232),
  ('highly', 121.9185119633573),
  ('recommend', 103.85327757365557),
  ('food amazing', 101.9506615124433),
  ('great', 97.63531569692753),
  ('amazing', 93.93703438109256),
  ('food', 89.44698478010933),
  ('food delicious', 84.99338778811142),
  ('last night', 76.5382712752315)],
 [('oysters', 266.46049970072374),
  ('chargrilled oysters', 116.4411581667267),
  ('charbroiled oysters', 92.07329843984455),
  ('gumbo', 86.87866228196317),
  ('raw oysters', 84.15850672847766),
  ('seafood', 80.14900026978701),
  ('oyster', 75.94068863916893),
  ('seafood gumbo', 72.77903653887194),
  ('of places', 69.19049785338098),
  ('grilled oysters', 68.41043331078956)],
 [('french toast', 196.26892081980307),
  ('breakfast', 137.0332526553165),
  ('toast', 129.91410174678012),
  ('eggs', 129.41715147745666),
  ('french', 121.29962735512157),
  ('bloody mary', 105.50156732137447),
  ('eggs benedict', 93.2599216508459),
  ('brunch', 86.08429057914945),
  ('coffee', 70.81886730096531),
  ('of', 69.35215641905286)],
 [('one of favorite', 131.49773971022276),
  ('of favorite', 99.95001080468018),
  ('live music', 97.36161969668251),
  ('friendly staff', 75.78384977928242),
  ('definitely go', 73.75974820833011),
  ('definitely go back', 66.1262712082954),
  ('staff friendly', 58.563335462180966),
  ('would definitely go back', 57.94639259288527),
  ('friendly', 57.76492143009203),
  ('would definitely go', 53.85420464805047)],
 [('one of best', 257.40071969905733),
  ('one of', 237.71340696266336),
  ('of best', 228.68057159098205),
  ('best', 98.15707060025017),
  ('best ever', 91.73233363693231),
  ('one', 91.11691389974463),
  ('food very good', 83.70797448103065),
  ('food very', 79.70482715614803),
  ('of', 70.69691407214376),
  ('ever', 68.97459409003174)],
 [('much better', 151.73979624804656),
  ('tourist trap', 151.32097843809902),
  ('across street', 117.40516844381598),
  ('better', 107.97630833095864),
  ('tourist', 101.33276581232273),
  ('line', 89.36856467870669),
  ('long line', 82.31641713521635),
  ('much', 79.75920543278897),
  ('food mediocre', 78.05239378930948),
  ('cafe du monde', 71.87359177752955)]]

In [112]:
len(topics)

30

In [121]:
from openai import OpenAI
import os
os.environ.setdefault('OPENAI_API_KEY', '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')
OPENAI_API_KEY = os.environ.get('OPENAI_API_KEY')
OpenAI.api_key = OPENAI_API_KEY
client = OpenAI()

# Prompt for the AI model
prompt = f"""I am providing a list with 30 internal lists.
Each internal list contains phrases pertaining to a particular topic.
Each phrase has a score pertaining to how likely it is to be associated with the topic.
Please provide a name for each of the 30 topics, in 3 words or less, based on the phrases and scores provided.
(Try to keep within 2 words, just using words from the phrases if possible)

{topics}

"""

# print(prompt)
# Make a request to the API to generate text

response = client.chat.completions.create(
  model="gpt-4-0125-preview",
  messages = [
        {"role": "system",
         "content": """Give the response as a python list assigned to variable
         'topic_labels', and give each string quoted in double quotations,
         not single quotes. Ensure the list contains 30 items"""},
        {"role": "user", "content": prompt}
    ],
  max_tokens = 1000,
)

print(response.choices[0].message.content)

```python
topic_labels = ["Customer Service Experience", "Bar Atmosphere", "Mediocre Food", "Lacking Value", "New Orleans Culture", "Long Waits", "Food Quality", "Southern Dishes", "Shrimp Po' Boy", "Returning Doubtful", "Taste Preferences", "Southern Comfort Food", "Happy Hour Selection", "Cheese and Steak", "Philadelphia Cheesesteak", "Reliable Staff", "Quality Dining", "Outstanding Service", "Satisfactory Experience", "Dissatisfied Feedback", "Return Intent", "Southern Classics", "Outdoor Seating", "Service Issues", "Extraordinary Recommendation", "Oyster Specialties", "Breakfast Choices", "Favorite Spot", "Top Picks", "Tourist Avoidance"]
```

In [189]:
topic_labels = ["Customer Service Experience", "Bar Atmosphere", "Mediocre Food", "Lacking Value", "New Orleans Culture", "Long Waits", "Food Quality", "Southern Dishes", "Shrimp Po' Boy", "Returning Doubtful", "Taste Preferences", "Southern Comfort Food", "Happy Hour Selection", "Cheese and Steak", "Philadelphia Cheesesteak", "Reliable Staff", "Quality Dining", "Outstanding Service", "Satisfactory Experience", "Dissatisfied Feedback", "Return Intent", "Southern Classics", "Outdoor Seating", "Service Issues", "Extraordinary Recommendation", "Oyster Specialties", "Breakfast Choices", "Favorite Spot", "Top Picks", "Tourist Avoidance"]

In [ ]:
# Convert topic labels to csv of a single column
topic_labels_df = pd.DataFrame(topic_labels, columns=['topic_label'])
topic_labels_df.to_csv('./csv/topic_labels.csv', index=False)

In [123]:
len(topic_labels)

30

In [124]:
mapping_dict = {i: label for i, label in enumerate(topic_labels)}

# Map 'topic' column to 'topic_label' using the labels list
# We use the 'topic' values directly as indexes for the 'topic_labels' list
key_phrases['topic_label'] = key_phrases['topic'].map(lambda x: topic_labels[x])
key_phrases

               phrase       score  topic                  topic_label
0    customer service  192.945282      0  Customer Service Experience
1                  of  161.413885      0  Customer Service Experience
2                room  153.289571      0  Customer Service Experience
3                 not  150.768080      0  Customer Service Experience
4            customer  106.777045      0  Customer Service Experience
..                ...         ...    ...                          ...
295              line   89.368565     29            Tourist Avoidance
296         long line   82.316417     29            Tourist Avoidance
297              much   79.759205     29            Tourist Avoidance
298     food mediocre   78.052394     29            Tourist Avoidance
299     cafe du monde   71.873592     29            Tourist Avoidance

[300 rows x 4 columns]

In [180]:
key_phrases.to_csv('./csv/topic_allocation_with_labels.csv', index=False)

In [125]:
n_topics = key_phrases['topic'].nunique()
n_topics

30

In [148]:
df = pd.read_csv('./csv/df_review_top10.csv')
df.stars.mean(), df.stars.min(), df.stars.max(), df.shape

(4.0409114937320645, 1.0, 5.0, (52968, 10))

In [149]:
df

,review_id,business_id,stars,name,text,restaurant_avg_star,review_count,avg_stars10m_radius,date,clean_text
0,yyrMqY7sNp5gT7KJ1AaYWA,GBTPC53ZrG1ZBY3DT8Mbcw,4.0,Luke,We have been here twice for brunch and have en...,4.0,4554,4.05814,2016-03-07,twice brunch enjoyed immensely everything trie...
1,wEfzqOfbwn4Ohe2ZDOLAzw,GBTPC53ZrG1ZBY3DT8Mbcw,4.0,Luke,First meal in New Orleans. I had the $15 lunch...,4.0,4554,4.05814,2012-11-06,first meal new orleans lunch special seafood ...
2,XT_3UpEhO5eJIFxevnv_Yw,GBTPC53ZrG1ZBY3DT8Mbcw,4.0,Luke,Service is excellent. Atmosphere is great. The...,4.0,4554,4.05814,2015-02-02,service excellent atmosphere great raw bar fan...
3,YpHIixkA2K96wFLbI6FHkQ,GBTPC53ZrG1ZBY3DT8Mbcw,5.0,Luke,This was our second choice after finding out R...,4.0,4554,4.05814,2009-03-01,second choice finding rio mar closed mardi gra...
4,gnEmBGyBs7DOtIXGmJQdKQ,GBTPC53ZrG1ZBY3DT8Mbcw,4.0,Luke,Great oyster happy hours that go on from 5-7pm...,4.0,4554,4.05814,2015-08-19,great oyster happy hours go pm boyfriend share...
...,...,...,...,...,...,...,...,...,...,...
52963,CqJxh0TxfV2kb7ny5jeR0g,oBNrLz4EDhiscSlbOl8uAw,4.0,Ruby Slipper - New Orleans,Heard a lot about this place. I was told by ma...,4.5,5193,4.05814,2017-02-20,heard lot place told many including yelp nola ...
52964,Qq3hOwfgkJG8CL6B39lHRA,oBNrLz4EDhiscSlbOl8uAw,5.0,Ruby Slipper - New Orleans,I don't even know where to start. This was ou...,4.5,5193,4.05814,2021-12-13,even know start top recommendation local frie...
52965,EqXPcN4t6tqKE47tBdUX_Q,oBNrLz4EDhiscSlbOl8uAw,5.0,Ruby Slipper - New Orleans,Long wait and they got my phone number wrong s...,4.5,5193,4.05814,2021-12-04,long wait got phone number wrong even longer e...
52966,HehXCiDy2-vwX94in-_Zcw,oBNrLz4EDhiscSlbOl8uAw,5.0,Ruby Slipper - New Orleans,This place was amazing! From the host taking ...,4.5,5193,4.05814,2022-01-16,place amazing host taking names servers forge...
52967,oVH6oK8G_FTYiaglrIk09A,oBNrLz4EDhiscSlbOl8uAw,5.0,Ruby Slipper - New Orleans,Please come hungry!!!! Every time I've been in...,4.5,5193,4.05814,2021-11-27,please come hungry every time ive ive never di...

In [150]:
# Add 20 new columns with names "topics1" to "topics20"
for i in range(1, n_topics + 1):
    col_name = topic_labels[i - 1]
    df[col_name] = None
df.columns

Index(['review_id', 'business_id', 'stars', 'name', 'text',
       'restaurant_avg_star', 'review_count', 'avg_stars10m_radius', 'date',
       'clean_text', 'Customer Service Experience', 'Bar Atmosphere',
       'Mediocre Food', 'Lacking Value', 'New Orleans Culture', 'Long Waits',
       'Food Quality', 'Southern Dishes', 'Shrimp Po' Boy',
       'Returning Doubtful', 'Taste Preferences', 'Southern Comfort Food',
       'Happy Hour Selection', 'Cheese and Steak', 'Philadelphia Cheesesteak',
       'Reliable Staff', 'Quality Dining', 'Outstanding Service',
       'Satisfactory Experience', 'Dissatisfied Feedback', 'Return Intent',
       'Southern Classics', 'Outdoor Seating', 'Service Issues',
       'Extraordinary Recommendation', 'Oyster Specialties',
       'Breakfast Choices', 'Favorite Spot', 'Top Picks', 'Tourist Avoidance'],
      dtype='object')

In [151]:
df

,review_id,business_id,stars,name,text,restaurant_avg_star,review_count,avg_stars10m_radius,date,clean_text,...,Return Intent,Southern Classics,Outdoor Seating,Service Issues,Extraordinary Recommendation,Oyster Specialties,Breakfast Choices,Favorite Spot,Top Picks,Tourist Avoidance
0,yyrMqY7sNp5gT7KJ1AaYWA,GBTPC53ZrG1ZBY3DT8Mbcw,4.0,Luke,We have been here twice for brunch and have en...,4.0,4554,4.05814,2016-03-07,twice brunch enjoyed immensely everything trie...,...,None,None,None,None,None,None,None,None,None,None
1,wEfzqOfbwn4Ohe2ZDOLAzw,GBTPC53ZrG1ZBY3DT8Mbcw,4.0,Luke,First meal in New Orleans. I had the $15 lunch...,4.0,4554,4.05814,2012-11-06,first meal new orleans lunch special seafood ...,...,None,None,None,None,None,None,None,None,None,None
2,XT_3UpEhO5eJIFxevnv_Yw,GBTPC53ZrG1ZBY3DT8Mbcw,4.0,Luke,Service is excellent. Atmosphere is great. The...,4.0,4554,4.05814,2015-02-02,service excellent atmosphere great raw bar fan...,...,None,None,None,None,None,None,None,None,None,None
3,YpHIixkA2K96wFLbI6FHkQ,GBTPC53ZrG1ZBY3DT8Mbcw,5.0,Luke,This was our second choice after finding out R...,4.0,4554,4.05814,2009-03-01,second choice finding rio mar closed mardi gra...,...,None,None,None,None,None,None,None,None,None,None
4,gnEmBGyBs7DOtIXGmJQdKQ,GBTPC53ZrG1ZBY3DT8Mbcw,4.0,Luke,Great oyster happy hours that go on from 5-7pm...,4.0,4554,4.05814,2015-08-19,great oyster happy hours go pm boyfriend share...,...,None,None,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52963,CqJxh0TxfV2kb7ny5jeR0g,oBNrLz4EDhiscSlbOl8uAw,4.0,Ruby Slipper - New Orleans,Heard a lot about this place. I was told by ma...,4.5,5193,4.05814,2017-02-20,heard lot place told many including yelp nola ...,...,None,None,None,None,None,None,None,None,None,None
52964,Qq3hOwfgkJG8CL6B39lHRA,oBNrLz4EDhiscSlbOl8uAw,5.0,Ruby Slipper - New Orleans,I don't even know where to start. This was ou...,4.5,5193,4.05814,2021-12-13,even know start top recommendation local frie...,...,None,None,None,None,None,None,None,None,None,None
52965,EqXPcN4t6tqKE47tBdUX_Q,oBNrLz4EDhiscSlbOl8uAw,5.0,Ruby Slipper - New Orleans,Long wait and they got my phone number wrong s...,4.5,5193,4.05814,2021-12-04,long wait got phone number wrong even longer e...,...,None,None,None,None,None,None,None,None,None,None
52966,HehXCiDy2-vwX94in-_Zcw,oBNrLz4EDhiscSlbOl8uAw,5.0,Ruby Slipper - New Orleans,This place was amazing! From the host taking ...,4.5,5193,4.05814,2022-01-16,place amazing host taking names servers forge...,...,None,None,None,None,None,None,None,None,None,None
52967,oVH6oK8G_FTYiaglrIk09A,oBNrLz4EDhiscSlbOl8uAw,5.0,Ruby Slipper - New Orleans,Please come hungry!!!! Every time I've been in...,4.5,5193,4.05814,2021-11-27,please come hungry every time ive ive never di...,...,None,None,None,None,None,None,None,None,None,None

In [152]:
# Initialize the new columns with zeros
for i in range(1, n_topics + 1):
    col_name = topic_labels[i-1]
    df[col_name] = 0.0  # Initialize with 0.0 (or any other default value)

# Iterate through each row of the dataframe
for index, row in df.iterrows():
    clean_text = row['clean_text']

    # Iterate through each phrase
    for phrase, score, topic in zip(key_phrases['phrase'], key_phrases['score'], key_phrases['topic']):
        # Check if the phrase appears in the clean_text
        if phrase in clean_text:
            # If it does, sum the score to the corresponding topic
            df.at[index, topic_labels[topic]] +=  score

In [147]:
df

,review_id,business_id,stars,name,text,restaurant_avg_star,review_count,avg_stars10m_radius,date,clean_text,...,Return Intent,Southern Classics,Outdoor Seating,Service Issues,Extraordinary Recommendation,Oyster Specialties,Breakfast Choices,Favorite Spot,Top Picks,Tourist Avoidance
0,yyrMqY7sNp5gT7KJ1AaYWA,GBTPC53ZrG1ZBY3DT8Mbcw,4.0,Luke,We have been here twice for brunch and have en...,4.0,4554,4.05814,2016-03-07,twice brunch enjoyed immensely everything trie...,...,0.000000,0.000000,0.000000,322.624927,0.000000,0.000000,86.084291,0.000000,68.974594,0.000000
1,wEfzqOfbwn4Ohe2ZDOLAzw,GBTPC53ZrG1ZBY3DT8Mbcw,4.0,Luke,First meal in New Orleans. I had the $15 lunch...,4.0,4554,4.05814,2012-11-06,first meal new orleans lunch special seafood ...,...,0.000000,0.000000,0.000000,317.114038,89.446985,156.089689,0.000000,0.000000,91.116914,0.000000
2,XT_3UpEhO5eJIFxevnv_Yw,GBTPC53ZrG1ZBY3DT8Mbcw,4.0,Luke,Service is excellent. Atmosphere is great. The...,4.0,4554,4.05814,2015-02-02,service excellent atmosphere great raw bar fan...,...,0.000000,156.992318,77.808380,645.076282,201.488593,0.000000,0.000000,0.000000,258.248579,107.976308
3,YpHIixkA2K96wFLbI6FHkQ,GBTPC53ZrG1ZBY3DT8Mbcw,5.0,Luke,This was our second choice after finding out R...,4.0,4554,4.05814,2009-03-01,second choice finding rio mar closed mardi gra...,...,0.000000,0.000000,242.911519,1156.340135,97.635316,0.000000,69.352156,0.000000,161.813828,339.475310
4,gnEmBGyBs7DOtIXGmJQdKQ,GBTPC53ZrG1ZBY3DT8Mbcw,4.0,Luke,Great oyster happy hours that go on from 5-7pm...,4.0,4554,4.05814,2015-08-19,great oyster happy hours go pm boyfriend share...,...,64.821352,0.000000,77.808380,0.000000,97.635316,342.401188,0.000000,139.886019,98.157071,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52963,CqJxh0TxfV2kb7ny5jeR0g,oBNrLz4EDhiscSlbOl8uAw,4.0,Ruby Slipper - New Orleans,Heard a lot about this place. I was told by ma...,4.5,5193,4.05814,2017-02-20,heard lot place told many including yelp nola ...,...,175.882919,0.000000,84.482656,1143.630113,89.446985,0.000000,533.566941,0.000000,160.091508,0.000000
52964,Qq3hOwfgkJG8CL6B39lHRA,oBNrLz4EDhiscSlbOl8uAw,5.0,Ruby Slipper - New Orleans,I don't even know where to start. This was ou...,4.5,5193,4.05814,2021-12-13,even know start top recommendation local frie...,...,0.000000,0.000000,165.103139,1308.301265,287.237297,0.000000,140.171024,0.000000,237.828579,89.368565
52965,EqXPcN4t6tqKE47tBdUX_Q,oBNrLz4EDhiscSlbOl8uAw,5.0,Ruby Slipper - New Orleans,Long wait and they got my phone number wrong s...,4.5,5193,4.05814,2021-12-04,long wait got phone number wrong even longer e...,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,160.091508,0.000000
52966,HehXCiDy2-vwX94in-_Zcw,oBNrLz4EDhiscSlbOl8uAw,5.0,Ruby Slipper - New Orleans,This place was amazing! From the host taking ...,4.5,5193,4.05814,2022-01-16,place amazing host taking names servers forge...,...,0.000000,0.000000,165.103139,612.217168,183.384019,0.000000,140.171024,0.000000,139.671508,0.000000
52967,oVH6oK8G_FTYiaglrIk09A,oBNrLz4EDhiscSlbOl8uAw,5.0,Ruby Slipper - New Orleans,Please come hungry!!!! Every time I've been in...,4.5,5193,4.05814,2021-11-27,please come hungry every time ive ive never di...,...,0.000000,0.000000,165.103139,771.524650,0.000000,0.000000,292.029230,0.000000,230.788422,0.000000

In [157]:
# Define features and target variable
X = df.drop(['review_id', 'business_id', 'name', 'text', 'restaurant_avg_star', 'review_count', 'avg_stars10m_radius', 'date', 'clean_text', 'stars'], axis=1)  # Features

y = df['stars']  # Target variable

X.columns

Index(['Customer Service Experience', 'Bar Atmosphere', 'Mediocre Food',
       'Lacking Value', 'New Orleans Culture', 'Long Waits', 'Food Quality',
       'Southern Dishes', 'Shrimp Po' Boy', 'Returning Doubtful',
       'Taste Preferences', 'Southern Comfort Food', 'Happy Hour Selection',
       'Cheese and Steak', 'Philadelphia Cheesesteak', 'Reliable Staff',
       'Quality Dining', 'Outstanding Service', 'Satisfactory Experience',
       'Dissatisfied Feedback', 'Return Intent', 'Southern Classics',
       'Outdoor Seating', 'Service Issues', 'Extraordinary Recommendation',
       'Oyster Specialties', 'Breakfast Choices', 'Favorite Spot', 'Top Picks',
       'Tourist Avoidance'],
      dtype='object')

In [158]:
# Initialize the scaler
scaler = StandardScaler()

# Fit and transform your feature matrix (X)
X_standardized = scaler.fit_transform(X)
X_standardized

array([[ 0.29023303, -0.17749712, -0.14647585, ..., -0.3398965 ,
        -0.19641932, -0.57778414],
       [-0.80616314, -1.24603263, -0.14647585, ..., -0.3398965 ,
         0.05854422, -0.57778414],
       [-0.80616314,  1.10721178, -0.14647585, ..., -0.3398965 ,
         1.98302553,  0.67959163],
       ...,
       [-0.80616314, -1.24603263, -0.14647585, ..., -0.3398965 ,
         0.85277024, -0.57778414],
       [ 0.34834179,  0.73049968, -0.14647585, ..., -0.3398965 ,
         0.61763881, -0.57778414],
       [ 1.10835069,  1.09520258, -0.14647585, ..., -0.3398965 ,
         1.66682837, -0.57778414]])

In [159]:
# Split the data into train and test sets
X_train, X_test, y_train, y_test = train_test_split(X_standardized, y, test_size=0.2, random_state=42)

# Initialize and train the regression model
model = LinearRegression()
model.fit(X_train, y_train)

# Make predictions on the test set
y_pred = model.predict(X_test)

# Calculate R-squared
r_squared = r2_score(y_test, y_pred)
print("R-squared:", r_squared)

# Calculate mean absolute error
mae = mean_absolute_error(y_test, y_pred)
print("Mean Absolute Error:", mae)

# Calculate error
mape = mean_absolute_percentage_error(y_test, y_pred)
print("Mean absolute percentage error:", mape)

R-squared: 0.19116311257705332
Mean Absolute Error: 0.8376612622420733
Mean absolute percentage error: 0.33904041192245893

In [177]:
X_train.sum(axis=0)

array([   4.6082787 ,  101.077742  ,  -17.43733373,   48.1952828 ,
        -78.07043938,  172.60290777,   96.97961934, -109.24441336,
        -59.49741943, -144.2999747 ,   51.29217662,  -39.07212197,
       -134.9889947 ,   11.41540244,    4.3793543 ,  -93.96638823,
        100.84461646,  135.45573365,   92.17503812,  -62.49243945,
        106.17466204,  -36.42636061,   70.08820143,   76.41012994,
         50.51215358,  -36.908919  ,  -55.90924136,   68.68145549,
         32.30286098,  -70.66606078])

In [161]:
coefficients = model.coef_
feature_names = X.columns
df_coefficients = pd.DataFrame({'Feature': feature_names, 'Coefficient': coefficients})

# If you want to include the intercept as well
intercept_row = pd.DataFrame({'Feature': ['Intercept'], 'Coefficient': [model.intercept_]})
df_coefficients = pd.concat([intercept_row, df_coefficients], ignore_index=True)
df_coefficients = df_coefficients.sort_values("Coefficient", ascending=False)
df_coefficients.to_csv('Top_Coefficients.csv', index=False)

In [162]:
coefficients_dict = df_coefficients.set_index('Feature')['Coefficient'].to_dict()

In [163]:
coefficients_dict.pop('Intercept')

4.041447546791187

In [164]:
coefficients_dict

{'Extraordinary Recommendation': 0.1987222965720251,
 'Oyster Specialties': 0.12139531294923311,
 'Bar Atmosphere': 0.11608547360545084,
 'Top Picks': 0.09421221225603452,
 'Return Intent': 0.09305972204560804,
 'Breakfast Choices': 0.08996961227116729,
 'Quality Dining': 0.08978076657864845,
 'Lacking Value': 0.08567526466927736,
 'New Orleans Culture': 0.08412170224855198,
 'Cheese and Steak': 0.08392115225686313,
 'Southern Dishes': 0.07290723518667794,
 'Favorite Spot': 0.07130004054646823,
 'Outdoor Seating': 0.0581628476888862,
 'Outstanding Service': 0.056884268681575326,
 'Southern Comfort Food': 0.022213236485093397,
 'Happy Hour Selection': 0.006347162380704644,
 'Southern Classics': 0.005016284199362092,
 'Customer Service Experience': -0.012255811678113397,
 'Reliable Staff': -0.01580811120547814,
 'Dissatisfied Feedback': -0.033248906937029844,
 'Long Waits': -0.047807396288143435,
 'Satisfactory Experience': -0.06341631023634896,
 'Philadelphia Cheesesteak': -0.07106685369413697,
 'Returning Doubtful': -0.07270351668202173,
 "Shrimp Po' Boy": -0.10582831037973413,
 'Food Quality': -0.1277631297636556,
 'Mediocre Food': -0.14320484400722663,
 'Tourist Avoidance': -0.1455879199959048,
 'Service Issues': -0.2022651207085938,
 'Taste Preferences': -0.2083977418273525}

In [178]:
# Get top 5
top_5 = dict(sorted(coefficients_dict.items(), key=lambda item: item[1], reverse=True)[:5])

# Get bottom 5
bottom_5 = dict(sorted(coefficients_dict.items(), key=lambda item: item[1])[:5])


top_5

{'Extraordinary Recommendation': 0.1987222965720251,
 'Oyster Specialties': 0.12139531294923311,
 'Bar Atmosphere': 0.11608547360545084,
 'Top Picks': 0.09421221225603452,
 'Return Intent': 0.09305972204560804}

In [179]:
bottom_5

{'Taste Preferences': -0.2083977418273525,
 'Service Issues': -0.2022651207085938,
 'Tourist Avoidance': -0.1455879199959048,
 'Mediocre Food': -0.14320484400722663,
 'Food Quality': -0.1277631297636556}